body {
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,233,223,1) 100%);
  width:100%;
  height:100vh;
  display: flex;
  flex-direction: column;
}
.content {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
}
.content > img {
  margin:2% 2.5%;
  width:20%;
  border-radius: 3px;

  transition: all 0.5s ease-in-out;
}
.content > img:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 5px;
}

@media only screen and (max-width: 900px) {
  body{
    background: radial-gradient(circle,rgba(148,233,223,1) 0%,rgba(238,174,202,1) 100%);
  }
  .content > img {
    margin:2% 2.5%;
    width:45%;
  
  }

}
@media only screen and (max-width: 500px) {
  body{
    background: cadetblue;
  }
  .content > img {
    margin:2% 2.5%;
    width:95%;
  
  }

}